body {
    background-color: #aaa;
  }
  ul {
    float: left;
  }
  ul li {
    display: inline-block;
    list-style: none;
    float: left;
    transition: .5s;
  }
  ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
  }
  ul li a:hover {
    color: #18dcff;
    border: 3px solid #18dcff;
  }
  ul li:hover {
    transform: scale(1.2);
  }
  ul li a:active {
    color: #3ae374;
    border: 3px solid #3ae374;
  }
  
  svg {
    font-family: Sans-Serif, Arial;
  }
  .line {
  stroke-width: 2;
  fill: none;
  }
  
  .axis path {
  stroke: black;
  }
  
  .text {
  font-size: 12px;
  }
  
  .title-text {
  font-size: 12px;
  }
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 100px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  .review {
    height: 200px;
    position: relative; 
  }
  
  .success {
    border: 3px solid black;
    background-color: white;    
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40%;
    /* margin-top: 60px; */
    align-items: center;
    cursor: pointer;
    border-color: #18dcff;
    color: #000;
    border-radius: 20px;
  }
  
  .success:hover {
    background-color:#18dcff;
    color: white;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  